# src/config/.env.template
AZURE_CLIENT_ID=your_client_id_here
AZURE_CLIENT_SECRET=your_client_secret_here
AZURE_TENANT_ID=your_tenant_id_here

# SharePoint Settings
SHAREPOINT_SITE=BRCapital-Internal
SHAREPOINT_HOSTNAME=bandrcapital.sharepoint.com
DEALS_FOLDER=Real Estate/Deals

# File Criteria
FILE_PATTERN=UW Model vCurrent
EXCLUDE_PATTERNS=Speedboat,vOld
FILE_EXTENSIONS=.xlsb,.xlsm
CUTOFF_DATE=2024-07-15